@import '../../assets/style/mixin.scss';
.footerBox{
    max-width: 1200px;
    justify-content: space-between;
    padding: 50px 0;
    border-top: 1px solid #f1f1f1;
    @include screen(991px){
        padding: 50px 15px;
    }
    @include screen(567px){
        justify-content: center;
    }
    .footer-block{
        width: 32%;
        text-align: left;
        @include screen(567px){
            width: 300px;
        }
    }
}
